$navbar-default-bg: #073B15;;
@import "bootstrap-sprockets";
@import "bootstrap";

.navLink{
    color: #fff;
}
.center{
    text-align: center;
}
.jumbotron{
    background-image: asset-url('nature.jpg');
    background-size: cover;
    height: 300px;
}
.jumbotron h1,h2{
    color: #fff;
    text-align: center;
    margin-bottom:30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn-xlarge{
    background-color: #073B15;
}
.btn-xlarge:hover{
    color: #fff;
    text-decoration: none;
}

#logo{
    float: left;
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#logo:hover{
    color: #fff;
    text-decoration: none;
}
.description {
    margin-top:0;
}

.well a{
        color: #073B15;
}
.chef_info{
    margin-top:10px;

}

.colormatch{
    color: #073B15;
}
.recipe-actions
{
    padding-top:5px;
    a{
        color:#fff
    }

}
.listing{
    list-style: none;
    padding-left: 0;
}
.chef-title{
    color: #073B15;
    font-weight: bold;
    font-size: 1.25rem;

}
